version: '3'

services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: ${PASSWORD_BD}
      POSTGRES_DB: ${BD_NAME}
    container_name: Limpiaduria_LineaAzul
    volumes:
      - ./postgres:/var/lib/postgresql/data
  # app:
  #   depends_on:
  #     - db
  #   container_name: lla
  #   image: alderickrios/limpiaduria_linea_azul:2.0.1
  #   ports:
  #     - ${PORT}:${PORT}
  #   environment:
  #     PORT: ${PORT}
  #     HOST_BD: ${HOST_BD}
  #     PORT_BD: ${PORT_BD}
  #     USER_BD: ${USER_BD}
  #     PASSWORD_BD: ${PASSWORD_BD}
  #     BD_NAME: ${BD_NAME}
  #   restart: always

  # front:
  #   depends_on:
  #     - app
  #   container_name: front_lla
  #   image: alderickrios/front_limpiaduria_linea_azul:baldur
  #   # environment:
  #   #   VITE_BACKEND_URL: ${VITE_BACKEND_URL}
  #   restart: always
  #   ports:
  #     - "80:80"
